.banner{
    margin-top: 0;
    padding: 200px 0 100px 0 ;
    background-image: url('../assets/img/back.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.banner .tagline{
    font-weight: 700;
    padding: 18px 12px;
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: linear-gradient(90.21deg, rgba(222, 50, 153, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%); 
    letter-spacing: 1px;
    margin-bottom: 20px;
    display: inline-block;
}
.banner h1{
  font-size: 62px;
  letter-spacing: 0.5px;
  font-weight: 800; 
  margin-bottom: 22px;
  line-height: 1;
  display: block;
}
.banner p{
    color: #BBBBBB;
    font-size: 20px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
}
  .btn{
    color: #fff;
    display: flex;
    font-size: 20px;
    align-items: center;
    margin-top: 150px ;
    font-weight: 700;
    letter-spacing: 0.8px;
}
.banner svg{
    font-size: 25px;
   margin-left: 9px;
   transition: 0.3s ease-in-out;
   line-height: 1;
}
button:hover svg {
    margin-left: 25px;
  }

  .banner img {
    animation: updown 3s linear infinite;
    border-radius: 800px;
  }
  @keyframes updown{
    0% {
        transform: translateX(-20px);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateX(-20px);
    }
  }

  .txt-rotate > .wrap {
    border-right: 0.08em solid #666;
  }